.vs/
.vscode/
build/
password-manager/
cov-int/
reports/
makecapk/

*.obj
*.exe
*.old
*.ilk
*.pdb
*.idb
*.svg
*.swp
*.out
*.idsig
*.keystore
callgrind*

.data
.pm_data
pm-*
pm.*
!pm.c
test
nobuild
gprof2dot.py
compile_commands.json
main.wasm
opt.js
mid.js
blob_b64
subst
nn
